::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    text-align: center;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-align: center;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-align: center;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    text-align: center;
}

.menu {
    width: 100%;
}

.menuItem {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.icon {
    width: 30px;
    height: 30px;
    vertical-align: bottom;
}

.icon:hover {
    background-color: #DDD;
    cursor: pointer;
}

#searchButton {
    height: 25px;
    width: 25px;
    margin: auto;
    vertical-align: middle;
    line-height: normal;
}

#search {
    height: 24px;
    padding: 5px;
}

#logo {
    width: 50%;
}

#searchBar {
    width: 25%;
}

#menu {
    width: 20%;
    text-align: right;
}

#logoText {
    margin: 0;
    font-size: 30px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

.icons {
    display: inline;
}

.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 6px 8px;
    z-index: 1;
    right: 1px;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

.guest {
    display: inline-block;
}

#guestProfile {
    width: 60px;
}

#userProfile {
    width: 90px;
}

.user {
    display: none;
}

.wrapper {
    background: url("../images/background.png") no-repeat center center fixed;
    background-size: cover;
}

.user-login-block {
    background-color: #f7f7f7;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 10% auto;
    width: 35%;
    height: 55%;
    padding: 10px;
    text-align: center;
}

#login-form, #register-form {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.title-form {
    font: 18px Oswald;
    font-weight: 400;
    color: #708b7a;
    padding: 0 5px 5px;
    text-align: center;
    margin-bottom: 15px;
}

#register-information {
    font: 24px Oswald;
    font-weight: 450;
    color: #708b7a;
    padding: 0 5px 5px;
    text-align: center;
    margin-bottom: 15px;
}

.submitButton {
    font: 16px Lato;
    color: white;
    background-color: #06504b;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 30px;
    width: 50%;
}

.submitButton:hover {
    background-color: #565656;
}

#register-line {
    width: 400px;
}

#login-form  input,#register-form input {
    border-radius: 10px;
    width: 60%;
    height: 35px;
    margin: 0 auto 10px;
    text-align: center;
}

#login-form input,#register-form input:focus {
    font-weight: 100;
    outline: none;
    border: 3px solid #06c0ab;
}

.form-link {
    text-decoration: none;
    color: #048e76;
    font: 16px Lato;
    font-weight: 900;
    padding: 10px;
}

#logout-button {
    background: transparent;
    border: none;
    border-radius: 0px;
    width: 100%;
    height: 20px;
    margin: 0 auto 10px;
    text-align: center;
	font: 16px "Times New Roman";
}

#logout-button:hover {
    cursor: pointer;
}

#logout-button:focus {
    outline: none;
    border: none;
}

/*Copied from bootstrap */
 .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
/*Also */
 .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
/* This is copied from https://github.com/blueimp/jQuery-File-Upload/blob/master/css/jquery.fileupload.css */
 .fileinput-button {
    position: relative;
    overflow: hidden;
}
/*Also*/
 .fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter:'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

.post-image-container {
	width: 400px;
	height: 200px; 
	overflow: hidden;
	display:inline-block;
}

.post-image {
	width: 400px;
}

.post {
    width: 60%;
    margin: 0 auto; 
}

.post-title {
	text-align:left;
}

.filestyle {
	position: absolute; 
	clip: rect(0px 0px 0px 0px);
}

.content-button {
	margin-left: 156px;
	background-color: #4C50AF;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.vote {
	margin-left: 10px;
	text-align: center;
	display:inline-block;
}

.upArrow {
	margin-left:4px;
	width:25px;
}

.Arrow {
	width:25px;
}

.upcommentArrow {
	width:15px;
}

.commentArrow {
	width:15px;
}

#upArrow {
	margin-left:4px;
}

.voteNumber {
	margin-left:4px;
}

.userPostContainer
{
	width:19%;
	display: inline-block;
}

.hiddenUserPostContainer
{
	width:19%;
	display: none;
}

.hiddenLikedPostContainer
{
	width:19%;
	display: none;
}

.user-content-button {
	background-color: #4C50AF;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.user-post-image-container {
	width: 100%;
	height: 200px; 
	overflow: hidden;
	display:inline-block;
}

.user-post-image {
	width: 100%;
}

.userPost {

}

.show-hidden-posts-button {
	background-color: #4C50AF;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.show-hidden-posts-button-container {
    text-align: center;
}