::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    text-align: center;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-align: center;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-align: center;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    text-align: center;
}

.menu {
    width: 100%;
}

.menuItem {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.icon {
    width: 30px;
    height: 30px;
    vertical-align: bottom;
}

.icon:hover {
    background-color: #DDD;
    cursor: pointer;
}

#searchButton {
    height: 25px;
    width: 25px;
    margin: auto;
    vertical-align: middle;
    line-height: normal;
}

#search {
    height: 24px;
    padding: 5px;
}

#logo {
    width: 50%;
}

#searchBar {
    width: 25%;
}

#menu {
    width: 20%;
    text-align: right;
}

#logoText {
    margin: 0;
    font-size: 30px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}


.icons {
    display: inline;
}

.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    padding: 6px 8px;
    z-index: 1;
    right: 1px;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

.guest {
    display: inline-block;
}

#guestProfile{
    width: 60px;
}

#userProfile{
    width: 90px;
}
.user {
    display: none;
}